body {
    background: url(../images/alex-shutin-kKvQJ6rK6S4-unsplash.jpg);
    padding: 1rem;
}
.container-fluid {
    display: flex;
}

.section-list {
    flex: 3;
}

.section-form {
    flex: 2;
    padding-top: 1.5rem;
}

#iImportant {
    font-size: 35px;
    color: rgb(19, 89, 146);
    cursor: pointer;
}

#iImportant:hover {
    color: rgb(22, 100, 163);
}

.task {
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    margin: 2rem 2rem;
}

.titles {
    text-align: center;
    margin: 1rem auto;
}

#important {
    color: rgb(19, 89, 146);
}

#toggle-form {
    /* font-size: 25px;
    position:relative;
    top: 30rem;
    padding: 1rem;*/
} 

.action-buttons {
    display: flex;
    justify-content: center;
}
